* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Syne Mono', monospace;
}

.center {
    display: grid;
    align-items: center;
    justify-content: center;
}

.grid-layout {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 1fr;
}

header {
    padding: 0 15px;

    color: #000;
    font-size: 1.5rem;
}

main {
    background-color: rgb(59, 59, 59);
}

.main__presentation-title {
    font-size: 3rem;
}