* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Syne Mono", monospace;
}

.center {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.grid-layout {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 1fr;
}

header {
  padding: 0 15px;

  color: #000;
}

.header__h1 {
  font-size: 3rem;
}

.header__p {
  font-size: 2rem;
}

@media (min-width: 430px) {
  .header__h1 {
    font-size: 4.5rem;
  }
}

main {
  background-color: rgb(59, 59, 59);
}

.presentation {
  height: 70%;

  grid-gap: 50px;
}

.presentation__image {
  width: 320px;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: rgb(49, 51, 56); */
}

.presentation__image * {
  height: 75%;
  /* width: auto; */
}

.presentation__button {
  width: 200px;
  height: 50px;
  border-radius: 30px;

  font-size: 3rem;
  background-color: #fff;
  transition: background-color 0.3s;
  cursor: pointer;
}

.presentation__button:hover {
  background-color: rgb(180, 180, 180);
}
